*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    overflow-x: hidden;
}
h1{
    text-align: center;
    margin-top: 50px;
}
section{
    width: 33.333%;
    height: 150px;
    border:solid black 1px;
    background-color: grey;
    margin: 80px;
    
}
section p{
    padding: 5px;
    clear: both;
    line-height: 1.5rem;
    color: white;
}
.head{
    float: right;
    border: solid black 1px;
    padding: 2px;
    
    
    
}
.red{
    background-color: red;

}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.wrapper{
    display: flex;
}

@media(max-width:767px){
    
    .wrapper{
        display: block;
        
    }
    section{
        width: 90%;
        margin: 25px 5% ;
        

        text-align: center;
           }
    section p{
        padding: 20px;
    }
}
